html {
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  max-width: 1000px;
  margin: auto auto;
  text-align: center;
  font-family: sans-serif;
}

.link {
  display: flex;
  padding: 10px;
}
/* 
.styleTab {
  color: red;
} */

.ant-tabs .ant-tabs-tab {
  padding: 0px;
}
